<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="http://getskeleton.com/dist/css/skeleton.css"  rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="dist/css/main.css" />
  </head>
  <body ng-app="crosswordApp" ng-controller="crosswordCtrl">
    <div  class="row"
          ng-repeat="row in rowChunk track by $index"
          ng-init="rowIndex=$index">
      <div  class="square"
            ng-repeat="square in row track by $index"
            ng-init="squareIndex=$index; canonicalIndex=getCanonicalIndex(rowIndex, squareIndex)"
            ng-class="{'col-last': squareIndex===row.length-1, 'row-last': rowIndex===row.length-1, 'void': !square, 'activeSquare': activeSquareId, 'active-square': activeSquareIndex===canonicalIndex }"
            ng-click="selectClue(canonicalIndex, rowIndex, squareIndex)">

            <div  ng-if="crosswordGridnums[getCanonicalIndex(rowIndex, squareIndex)]"
                  class="xy-id">{{crosswordGridnums[getCanonicalIndex(rowIndex, squareIndex)]}}</div>
            <span>{{square}}</span>
      </div>
    </div>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/puzzle/puzzleController.js"></script>
    <script type="text/javascript" src="app/puzzle/puzzleDirective.js"></script>
    <script type="text/javascript" src="app/services/puzzleService.js"></script>
  </body>
</html>